* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 10px;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1;
    background-color: #F5F5F5;
    height: auto;
    max-width: 760px;
    border-radius: 2rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.instructions-container {
    font-size: 1.4rem;
    color: whitesmoke;
    background-color: rgba(245, 240, 187, 0.9);
    font-family: Arial, Helvetica, sans-serif;
    height:  100%;
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 2rem;
}


 .instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border-radius: 2rem;
    letter-spacing: 0.1rem;
    font-size: 1.15rem;
    text-align: left;
    height: 100%;
    width: 100%;
    padding-inline: 3% ;
    padding-block-start: 3%;
    margin-inline: auto;
    white-space: pre-wrap;
    background-color: rgba(68, 74, 151, 0.3) ; 
    color: #000000;
    position: relative;
    top: 1%;
} 

.dice-container {
    /* display: grid;
    grid-template: auto auto / repeat(3, 1fr); */
    gap: 10px; 
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0;
    justify-content: center;
    align-items: center;
    padding-inline: 6%;
}

/* each die's face */
.die-face {
    max-width: 69px;
    max-height: 69px;
    margin: 0 auto;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);width: 99px;
    border-radius: 10px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* flex-wrap: wrap; */
}


/* the images displaying on each element/face of the dice array */
.die-img {
    max-width: 100%;
    max-height: auto;
    background-color: #EEFFFD;
    margin: 0;
    /* #F6FFDE #FEECFF #EEFFFD #FFF9EF rgb(255, 249, 239, 0.5) */
}

.roll-dice {
    min-height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: rgba(80, 53, 255, 0.9) ;
    color: white;
    font-size: 1.3rem;    
    margin-block-start: 0.6rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.7);
    margin-top: 0.5rem auto;
}

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(250, 0, 0, 0.7);
    /* background-color: ; */
}

.title{
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 0.5rem auto;
}

/* Player1 name on the scoreBoard */
.p1Score {
   grid-area: p1S ; 
    min-width: 84px; 
}
/* Player2 name on the scoreBoard */
.p2Score{
    grid-area: p2S ; 
    min-width: 84px;
}
/* scores for the five sets for each player */
.pScores{
    grid-area: pSs ; 
    min-width: 20px;
}

/* The container that encloses the scoreBoard */
.scoresBody {
    font-style: italic; 
    display: grid; 
    column-gap: 6px;
    grid-template-areas: 
    'p1S pSs pSs attempts'
    'p2S pSs pSs attempts';
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    border-radius: 9px;
    min-width: 19rem;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    /* max-width: 100%; */
    background-color: #A6CAAF;
    /* border: 2px solid #41644A; */
}

.p2Score, .p1Score, .attempts {
    font-family: consolas;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    border-radius: 6px;  
    min-height: 24px;
    font-size: 1.2rem;
    background-color: #F6FFDE; /*# FCFFCC;*/
    text-align: center;
    font-weight: bold;
    color: #41644A;
    margin-inline-start: 6px;
}

.attempts {
    grid-area: attempts;
    color: #41644A;
    /* margin-block-end: 6px; */
}

/* A sub container in the scoreBoard for each player scores and the total number of attempts */
.scores-wrap {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.9);
    border: 2px solid #41644A;
    border-radius: 8px;
    margin: 6px 1px;
}
/* A container for individual scores only */
.scoresContainer {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 1px;
    margin-bottom: 2px;
    grid-template-columns: fit-content(21ch) fit-content(1fr);
    /* display: flex; */
    flex-wrap: wrap;
    min-width: 110px;
    min-height: 45px;
    border-radius: 8px; 
}
.scores {
    min-height: 24px;
    min-width: 24px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0.5px 1px; 
    font-weight: bold;
    color: #41644A;
    font-size: 1.rem;
    background-color: #F6FFDE ;
    flex: 1;
}
/* .scores:last-child {
    flex: 0 0 100%;
} */

.new-record, .setResult {
    display: none;
    font-size: 1.5rem;
}

/* results of each set */
.setResult{
    z-index: 3;
    color: rgb(241, 246, 249);
    margin: 0.7rem 0;
    min-height: 2.5rem;
    line-height: 2.5rem;
    padding: 0.3rem 1rem;
    background-color: rgba(25, 24, 37, 0.9);
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* position: absolute;
    top: 25vh; */
}
.no-display{
    display: none;
}

.final-scores{
    font-size: 1.5rem;
    background-color: #5035FF;
    color: #FFFFFF;
    padding-inline: 7%;
}

/* control button at top */
.start-game, .register, .reset {
    background-color: whitesmoke;
    border-radius: 5px;
    font-weight: bold; 
    font-size: 1.1rem;
    border: none;
    padding: 3%;
    box-shadow: 0 2px 3px 1.3px rgba(0, 0, 0, 0.6);
}
.start-game.form-btn{
    box-shadow: 0 2px 3px 1.3px rgba(0, 0, 0, 0.6)
}
/* Class created to selectively modify start-game class */
.form-btn{
    background-color: rgba(80, 53, 255, 0.9);
    border:none;
    color: #FFFFFF;
    min-height: 21px;
    margin: 2px;
    min-width: 75px;
    line-height: 1rem;
}
/* Buttons inside the form form class in Form component */
.ctrl-buttons{
    display: flex;
}

/* The Form component"s input */
.form-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 3px rgba(80, 53, 255, 0.2);
    border-radius: 6px;
    margin-block-end: 4px;
    text-align: center;
    padding: 2px;
}

.players-input{
    margin-bottom: 0.1rem;
}

.player {
    height: 1.2rem;
}
.new-record{
    max-width: 80vw;
    text-align: center;
}
.socials {
    background-color: #5035FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3rem;
    margin: auto;
    width: 90%;
    font-size: 0.8rem;
    height: 1.5rem;
}
.socials a {  
    background-color: #F5F5F5; 
    padding: 0.2rem;
    border-radius: 0.2rem;
    min-width: 1.1rem; 
}
.socials a .fa {  
    color: #000510; 
}
.socials p {  
    color: #FFFFFF; 
}
.feedback{ 
    font-family: "montserrat", cursive;
    color: yellow;
    text-decoration: underline;
}


/* For very small devices in portrait mode*/
@media screen and (max-height: 360px) and (orientation: landscape) {
    main {
        max-height: 360px;
    }
    .instructions-container{
        height: 360px;
    }
    .instructions{
        height: 360px;
        top: 10%
    }
    .final-scores{
        font-size: 1.5rem;
        background-color: #5035FF;
        color: #FFFFFF;
        padding-inline: 7%;
    }
}

/* For small-sized devices in portrait orientation*/
@media screen and (min-width: 360px) and (min-height: 760px) {
    .instructions-container{
        margin-top: 3%;
    }
    .instructions {
        font-size: 1.3rem;
        color: whitesmoke;
        background-color: rgba(11, 36, 52, 0.65);
        font-family: Arial, Helvetica, sans-serif;
        padding-inline: 12%;
        padding-block-start: 24%;
    }
    .dice-container{
        gap: 12px;
        padding-inline: 3%;
    }
    .die-face{
        max-width: 75px; 
        max-height: 75px;
        width: 75px;
        height:75px;
    }
    .raw-die{
        width: 100%; 
        height: auto;        
    }
    .player{
        height: 1.6rem;
        margin-block-end: 0.2rem;
    }
    .final-scores{
        font-size: 1.7rem;
        background-color: #5035FF;
        color: #FFFFFF;
        padding-inline: 10%;
    }
}

@media screen and (min-width: 400px) and (min-height: 800px){
    .instructions{
        top: 15%;
        padding: 7%;
    }
    .dice-container{
        padding-inline: 5%;
    }
    .die-face{
        width: 84px;
        height: 84px;
        max-width: 84px;
        max-height: 84px;
    }
    .raw-die{
        width: 100%;
        height: auto;
    }
    .final-scores{
        font-size: 1.7rem;
        background-color: #5035FF;
        color: #FFFFFF;
        padding-inline: 10%;
    }
}
/*
@media screen and (min-width: 400px) and (orientation: portrait){
    .instructions{
        top: 18%;
    }
}
@media screen and (min-width: 420px) and (orientation: portrait){
    .instructions{
        top: 21%;
    }
}
@media screen and (min-width: 440px) and (orientation: portrait){
    .instructions{
        top: 24%;
    }
}
@media screen and (min-width: 460px) and (orientation: portrait){
    .instructions{
        top: 27%;
    }
} */

/* @media screen and (min-width: 480px) {
    .dice-container {
        max-height: 201px;
        display: grid;
        grid-template: auto auto / repeat(5, 1fr);
        margin: 0.5rem;
        gap: 1.0rem;
        padding-inline: 15%;
    }
} */

/* For small-sized devices in portrait orientation*/
@media screen and (min-width: 320px) and (orientation: landscape) {
    /* .instructions{
        padding-inline: 3%;
        padding-block-start: 3%;
    } */
    .dice-container {
        max-height: 150px;
        display: grid;
        grid-template: auto auto / repeat(5, 1fr);
        margin: 0.5rem;
        gap: 1.0rem;
        padding-inline: 15%;
    }
    .title{
        margin-block: 0.2rem;
    }
    .player1{
        margin-inline-end: 0.6rem;
    }
    .form-btn{
        max-height: 34px;
    }
    .roll-dice{
        font-size: 1.5rem;
    }
    .final-scores{
        font-size: 1.7rem;
        background-color: #5035FF;
        color: #FFFFFF;
        padding-inline: 10%;
    }
}


/* For tablets and similar-sized devices */
@media screen and (min-width:600px)  {
    body {
        
    }
    main {
        margin: auto;
    }
    .instructions {
        font-size: 1.6rem;
        padding-top: 15%;
        padding-inline:12%;
    }
    .dice-container {
        max-height: 230px;
        display: grid;
        grid-template: auto auto / repeat(5, 1fr);
        margin-bottom: 1.3rem;
        margin-top: 1.2rem;
        gap: 1.2rem;
        padding-inline: 15%;
    }

    .die-face {
        height: 87px;
        width: 87px;
        max-height: unset;
        max-width: unset;
        padding: 0;
    }
    .die-face img {
        height: auto;
        width: 100%;
        padding: 0;
    }
    .start-game{
        min-width: 13rem;
        font-size: 2.0rem;
        box-shadow: 0 3px 2px 1.8px #abcdef;
    }
    .start-game.form-btn{
        font-size: 1.6rem;
        min-width: 9.9rem;color: ye;
    }
    .title{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1.2rem;
    }
    .form-content{
        margin: 1rem 5rem;
    }
    .players-input{
        font-size: 1.3rem;
        line-height: 1.3rem;
        padding: 0.5rem;
    }
    .player1{
        margin-bottom: 0.5rem;
    }
    .player{
        height: 2rem;
    }
    .ctrl-buttons{
        margin-block-end: 0.6rem; 
        gap: 0.6rem;      
    }
    .register, .reset {
        font-size: 1.2rem;
        padding-right: 2rem;
    }
     .enter, .reset, .roll-dice {
        font-size: 1.6rem;
     }
    .dice-container{
    /* width: 600px;         */
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    margin-top: 0;
    max-height: 14rem;
    }

    .final-scores{
        padding: 0 25%; 
        font-family: 'roboto', cursive;
    }
    .p1Score, .p2Score, .scores, .attempts{
        font-size: 2.0rem;
    }
    .final-scores{
        font-size: 2rem;
        background-color: #5035FF;
        color: #FFFFFF;
        padding-inline: 15%;
    }
}
/* For devices larger than smaller tablets */

@media screen and (min-width: 768px)  {
    main {
        margin: auto;
        max-width: 66rem;
    }
    /* .instructions {
        width: 54rem;
        color: lemonchiffon;
        background-color: #0D2434;
        font-family: Arial, Helvetica, sans-serif;
        padding-inline:15%;
    } */
    .start-game{
        min-width: 9rem;
        font-size: 1.2rem;
    }
    .title{
        font-size: 4rem;
        font-family: roboto;
    }
    .form-content{
        margin: 0 15%; 
        max-width: 75rem;
    }
    .players-input{
        font-size: 1.5rem;
        line-height: 2rem;
        padding-inline: 0.2rem;
        padding-block: 0.1rem;
    }
    .player1{
        margin-right: 0.5rem;
    }
    .player{
        height: 3rem;
    }
    .ctrl-buttons{
        padding-block-start: 0.1rem;
    }
    .form-btn{
        line-height: 0.7rem;
        font-size: 1.5rem;
    }
   
    .dice-container{
    /* width: 600px;         */
    grid-template: auto auto / repeat(5, 1fr);
    margin-block: 0.5rem;
    gap: 1rem;
    }
    
    .die-face{
        width: 6.5rem;
        height: 6.5rem;
    }
    .die-img{
        width: 100%;
        height: auto;
    }
    .new-record{
        font-size: 1.5rem;
    }
    .final-scores{
        font-size: 2rem;
        background-color: #5035FF;
        color: #FFFFFF;
        margin-inline: auto;
        inline-size: 60%;
        padding: unset;
    }
    .socials{
        font-size: 1.2rem;
        padding: 1.3rem;
    }
    .socials a{
        min-width: 1.9rem;
        text-align: center;
    }
}